@font-face {
  font-family: 'Myriad Pro';
  src: url('MyriadPro-It.eot'); /* IE9 Compat Modes */
  src: url('MyriadPro-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MyriadPro-It.woff') format('woff'), /* Modern Browsers */
       url('MyriadPro-It.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MyriadPro-It.svg#54d63352cb4912719fdd069d2548d4f4') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('MyriadPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MyriadPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('MyriadPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MyriadPro-Regular.svg#b6b933d6eeb92d33db4fad36c45b0bff') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url('MyriadPro-Semibold.eot'); /* IE9 Compat Modes */
  src: url('MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MyriadPro-Semibold.woff') format('woff'), /* Modern Browsers */
       url('MyriadPro-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MyriadPro-Semibold.svg#a17038077b1d8a3e62b9eb677c3d4bcc') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}
