
@font-face {
    font-family:"GuardianEgyptianText-Regular";
    src:url("GuardianTextEgypt-Regular.woff2") format("woff2"),url("GuardianTextEgypt-Regular.woff") format("woff"),url("GuardianTextEgypt-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        